//color
$primary : #000;
$secondary : #121212;
$green : #48d494;
$white : #fff;
$p-color :  #888;

//font-weight 
$regular : 400;
$medium :  600;
$bold : 700;

//font-size 
$ten : 10px;
$twelve : 12px;
$fourteen : 14px;
$sixteen :16px;
$nineteen : 19px;
$twenty : 20px;
$twenty-two : 22px;
$twenty-five : 25px;
$thirty : 30px;

// font-family
$sans-serif : sans-serif;
$font-awesome : FontAwesome;

//text-transform
$upper : uppercase;
$capital : capitalize